# Week 1, Day 2 (Python for Data Science)
> Welcome to second day (Week 1) of the McE-51069 course. We will introduce the basics of Python programming language and share you necessary lectures and assignment notebooks.

- toc: true
- badges: false
- comments: false
- categories: [python]

# Learning Tips

We Strongly recommand learning with playing.<br>
We provide notebooks for students to get started.<br>
If you get trouble with learning, please feel free to reach out to us [facebook](https://www.facebook.com/groups/467439787576222), [email](cvml.ytumc@gmail.com).

# Data Type

**Data Type** of a variable describe the properties that variable hold.<br>
In python, there are some built-in data-type, which described below.

 1. Int (1 ,100, 99)
 2. Float (1.0, 3.14, 2.718)
 3. String ("Myanmar", "Burma")
 4. Boolean (True, False)
 5. Complex (1+0j)
 6. null (None)
 

To describe the various properties in the real world, we must use different data type.

eg.<br>If we want to describe a person's `name`, we would use `String`.<br>
<br>`Int` for his `age`, <br>`Float` for his `height` in (cm), <br>and `Boolean` for his `is_graduated`, and so on.

The main take away from this course is knowing the difference data type and their usage.

We could create difference variables in following ways:<br>
```python
# Int
int1 = 5
int2 = 3

# Float
float1 = 1.
float2 = 3.14

# String
string1 = "Hello"
string2 = 'World'

# Boolean
bool1 = True
bool2 = False
```

## Operations on Data Type

### Arithmetic Operation on Number Data Type
There are many built-in, already implemented, operations we could do in python.<br>
Like, for example, for arithmetic operations:
 1. Addition (+)
 2. Subtraction (-)
 3. Multiplication (*)
 4. Division (/)
 
Arithemetic operations, as the name suggest, can only be used in **Int** and **Float** Data Type.

In [8]:
#collapse-hide
int1 = 5
int2 = 3
# We can add, subtract two elements of 'Int' dtype.
print(int1 + int2) # Addition
print(int1 - int2) # Subtraction
print(int1 * int2) # Multiplication
print(int1 / int2) # Division
print(int1 % int2) # Remainder
print(int1**int2) # Power
print()

float1 = 1.
float2 = 3.14
# We can add, subtract two elements of 'Float' dtype.
print(float1 + float2)
print(float1 - float2)
print(float1 * float2)
print(float1 / float2)
print(float1 % float2)
print(float1**float2)

8
2
15
1.6666666666666667
2
125

4.140000000000001
-2.14
3.14
0.3184713375796178
1.0
1.0

### String Operation

for variable that is of `String` data type, we could *Concatenate* Two string,<br>
Or we could use `f String` format for better formating of string.<br>

In `f String`, we could enter varibles in the string format.

In [13]:
#collapse-hide
# Simple concatenate two string
concatenate_string = string1 + string2
print(concatenate_string)

# F string format.
f_string = f"Hello World, Welcome to the wanderland"
print(f_string)

f_string_var = f"{string1} {string2}, This is testing the f String"
print(f_string_var)

HelloWorld
Hello World, Welcome to the wanderland
Hello World, This is testing the f String

> Note: We could only do operations on the same data type.

For example, **Int** variable and **String** variable could not be added (will raise an *error*).

In [4]:
#collapse-hide
a = 10
b = 'hello world'
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

```TypeError :can only concatenate str to str | int to int```

Different data type cannot be added (concatenate) together.<br>

[Reference : Python Official Documentation](https://docs.python.org/3/tutorial/introduction.html#numbers)

We always recommand students to go check out the official document if possible.<br>
It might be a bit hard at first, but it definetly worth the effort.

# Data Structure

Data Structure is a collection of variables.<br>
Based on the method of collecting the varibles, the four basic data structure are presented in Python.
 1. List
 2. Tuple
 3. Dictionary
 4. Set

In [14]:
#collapse-hide
# Simple Creation of each four types of structures

list_obj = [1, 2, 3, 4, 1, 2, 3, 4]
set_obj = {1, 2, 3, 4, 1, 2, 3, 4}
tuple_obj = (1, 2, 3, 4, 1, 2, 3, 4)
dict_obj = {'a':1, 'b':2, 'c':3, 'd':4, 'e':1, 'f':2}

print(type(list_obj), list_obj)
print(type(set_obj), set_obj)
print(type(tuple_obj), tuple_obj)
print(type(dict_obj), dict_obj)

<class 'list'> [1, 2, 3, 4, 1, 2, 3, 4]
<class 'set'> {1, 2, 3, 4}
<class 'tuple'> (1, 2, 3, 4, 1, 2, 3, 4)
<class 'dict'> {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 1, 'f': 2}

# List

The Most commonly used data structure in Python, `List` has the following properties :
 1. Element Accessable with ordered
 2. Mutable (variable value can be changed)

In [3]:
#collapse-hide
list_height = [170, 172, 174, 160, 178]

print("Heights of student in class...")
print(list_height)

Heights of student in class...
[170, 172, 174, 160, 178]

## Access with Index

![](animations/index_animation.gif)

> Note: If we access element that is out of range, it will rasie `IndexError` as follow

In [4]:
#collapse-hide
print("Student A height : ", list_height[0])
print("Student B height : ", list_height[1])
print("Student A height : ", list_height[2])
print("Student B height : ", list_height[3])
print("Student A height : ", list_height[4])
print("Student B height : ", list_height[5])

Student A height :  170
Student B height :  172
Student A height :  174
Student B height :  160
Student A height :  178

IndexError: list index out of range

```IndexError: list index out of range.```<br>
Because there are only 5 elements in list, ```list_height[5]``` request for 6th element, which is out of range.

## Access with Iteration(For Loop)

In [7]:
#collapse-hide
num_student = 0

for height in list_height:
    num_student += 1
    print(height, end = ',')
    
print(f"\nThere are total of {num_student} students in the class")

170,172,174,160,178,
There are total of 5 students in the class

## List with different Datatype

We could store, not just one datatype, but variables with different data type in a list.

In [10]:
#collapse-hide
student_A = ["Aung Aung", "McE", 3, 6]
student_B = ["Soe Pyae", "Civil", 3, 6]

print("Student A Info : ", student_A)
print("Student B Info : ", student_B)

Student A Info :  ['Aung_Paing', 'McE', 3, 6]
Student B Info :  ['Soe_Pyae', 'Civil', 3, 6]

In [11]:
#collapse-hide
# But Be Aware, We do not know which element contain what information..
print(student_A[2] + student_A[3])
print(student_A[0] + student_A[1])
print(student_A[1] + student_A[2])

9
Aung_PaingMcE

TypeError: can only concatenate str (not "int") to str

```TypeError :can only concatenate str to str | int to int```

Different data type cannot be added (concatenate) together.<br>
For that, in python, we use `Dictionary` to store information.

## Dictionary

When we walk into a library and want to find a book, we search by the book title, the book author or may be the published year.<br>
Python use the same idea to store value for the varible, by creating the key for that value.<br>
That is why you often heard `dict` in python is key-value paired.

In [2]:
#collapse-hide
# Dictionary
student_A_dict = {"Name" : "Aung_Paing",
                 "Major" : "McE",
                 "Batch" : 3,
                 "Year" : 6}

student_B_dict = {"Name" : "Soe_Pyae",
                 "Major" : "Civil",
                 "Batch" : 3,
                 "Year" : 6}


print(student_A_dict)
print(student_B_dict)

{'Name': 'Aung_Paing', 'Major': 'McE', 'Batch': 3, 'Year': 6}
{'Name': 'Soe_Pyae', 'Major': 'Civil', 'Batch': 3, 'Year': 6}

In [3]:
#collapse-hide
# In Dict, we only need to specify the 'Key' to find the 'Value'.
print("Name : ", student_A_dict["Name"])
print("Major : ", student_A_dict["Major"])
print("Batch : ", student_A_dict["Batch"])
print("Year : ", student_A_dict["Year"])

Name :  Aung_Paing
Major :  McE
Batch :  3
Year :  6

## Tuple

Sometimes, we need **immutable** data.<br>
Like the *Coordinate* of a location, your lovely *Birthday Date*, his/her *Phone Number* or may be even your *gene code*.<br>
These information, we want to access them, but not change them, are created with `Tuple`.

In [20]:
#collapse-hide
home_coordinate = (123, 456)
birthday = (11, 1, 1998)

print(type(birthday))
print(birthday)

<class 'tuple'>
(11, 1, 1998)

In [21]:
#collapse-hide
# Let's try to access the month I was borned...
month = birthday[1]
print(month)

# Let's try to change the day I was borned....
birthday[1] = 10

1

TypeError: 'tuple' object does not support item assignment

## Set
    
`Set` as the name suggest, is a set of collection.<br>
it does not care about the order of that collection, it does not even care how many elements are in that collection, it only cares about the representative in that collection.

In [23]:
#collapse-hide
set_obj = {1, 2, 3, 1, 2, 3, 4}

print(type(set_obj))
print(set_obj)

<class 'set'>
{1, 2, 3, 4}

[Reference : Python Official Documentation on Data Structure](https://docs.python.org/3/tutorial/introduction.html#lists)

# Conditional & Loop in Python

In a Program, there always exist logics.<br>
Like, if I am *Happy* in coding, I would like to get job in *Coding*.<br>

## Conditional

In Python, such conditional are conducted by `if-else` statement.

In [1]:
#collapse-hide
# Simple if-else case
rain = False

if not rain:
    print("Today weather is fine, I am going out.")
else:
    print("It is raining, I cannot go out...")

Today weather is fine, I am going out.

## Loop

There are two main types of loop in python.
 1. for
 2. while
 
 
`For` iterate for the given range,<br>
`While` check the condition and continue iteration until condition is False.

```python
for range():
```

```python
while condition:
```

[Reference : Python Official Document on if-else statement](https://docs.python.org/3/tutorial/controlflow.html#if-statements)

# Functions

Functions are great arsenal in python.<br> You could think of **functions** as a factory, `process(do function)` the `raw inputs(Arguments)` to `Desired products(output)`.
There are two types of functions in Python.
 1. [Built-in Function](#built_in)<br>
 [Reference : Python Official](https://docs.python.org/3/library/functions.html)
 2. [User Defined Function](#user)<br>
 [Reference : Python Official](https://docs.python.org/3/tutorial/controlflow.html#defining-functions)

<a id=built_in></a>
## Built-in Functions

Built-in Functions, come along with python, could be very useful when you need them.<br>
Following are some examples for such case.

In [4]:
#collapse-hide
int_obj = -5
print(int_obj)

# Find the absolute value
abs_int = abs(int_obj)
print(abs_int)

# Convert Int to String
int2str = str(int_obj)
print(int2str, type(int2str))

# Check the datatype
print(isinstance(int_obj, int))

# Also, we could use built-in Functions to construct data-structures.
set_obj = set((1, 2, 3, 1, 2, 3))
print(set_obj)

-5
5
-5 <class 'str'>
True
{1, 2, 3}

<a id=user></a>
## User-Defined Functions

We could defind functions as we would like the program to process.<br>
Typical function in python consists of following parts.

![](animations/function.jpeg)

When Constructing a function, what you, the developer, need to know are:
 1. Input (Arguments in functions)
 2. Process (What this function do)
 3. Output(What this function output)
 
In short, `IPO` for making a function.

In [22]:
#collapse-hide
# Make a power calculator with function
def power(base_num, pow_num):
    """
    Calculate the power of base_num
    Args:
        base_num(Int) -> Base number for calculation
        pow_num(Int) -> Power number for calculation
    Return:
        power_num(Int) -> Power number for calculation 
    """
    
    return base_num ** pow_num


# We could directly print out the value
print(power(2, 3))

# Or we could assign that value to a varible and print.
output = power(3, 2)
print(output)

8
9

# Class

 1. [Built-in Class](#built_in_)
 2. [User Defined](#user_)
  - Inheritance
  
Class in python acts like a template.<br>
eg. When we think of a person, <br>
he has `properties` of [*Name*, *Age*, *Position*, *Hobby*] and so on.<br>
These properties can be applied to every one who is a person.


So, we create a template 'Class' and then, create *objects*, one person each for that class.

<a id=built_in_></a>
## Built-in Class

There are already many built-in classes that come with python.

```python
int_obj = int()
print(type(int_obj))

bool_obj = bool()
print(type(bool_obj))
```
```
<class 'int'>
<class 'bool'>
```

<a id=user></a>
## User-Defined Class

We could create a class for our own need. Assign properties and methods to that class

## Inheritance

We could create another class, which has all **attributes** and **methods** as Student, but it also has other **attributes** and **methods**.<br>
We call that inheritance